<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<% if (userType == 'owner') { %>
	  <%- include ownerdashboard.ejs %>
    <% } else if (userType == 'careTaker') { %>
      <%- include caretakerdashboard.ejs %>
    <% } else { %>
      <h1>Unknown Error</h1>
    <% } %>
</body>
</html>
