      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="images/logo.png">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <!-- Navigation -->
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <% if(!auth) { %>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <a href="/register"> <li class="mdl-menu__item">Sign in</li> </a>
            <a href="/login"> <li class="mdl-menu__item">Log in</li> </a>
          </ul>
          <% } else { %>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <a href="/dashboard"> <li class="mdl-menu__item">Dashboard</li> </a>
            <a href="/logout"> <li class="mdl-menu__item">Log out</li> </a>
          </ul>
          <% } %>
        </div>
      </div>