<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title> Find a Caretaker </title>

</head>


<body>
	<h3> Find a Caretaker... <h3>

<!-- left half: search parameters -->
<!-- right half: list of available caretakers -->

<!-- or: a search parameters page + a list page -->

</body>
</html>